@font-face {
    font-family: "NotoSans";
    src: url("NotoSans-Bold.ttf") format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "NotoSans";
    src: url("NotoSans-SemiBold.ttf") format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "NotoSans";
    src: url("NotoSans-Medium.ttf") format('truetype');
    font-style: normal;
    font-weight: 500;
}